
body {
    margin: 0;
}


h1 {
    color: black; 
    font-family: 'Poppins', sans-serif;;
    font-size: 100px; 
    margin-top: 60px; 
    font-weight: 190px; 

}; 

p {
    color: yellow; 
    font-family: 'Poppins', sans-serif;;
    text-align: center; 
    margin-top: 120px; 
    
    
}; 



div {
    text-align: center;
}

#hero {
    text-align: center;
    background-color: #EEE6FF;
}

#hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
}

.full-stack {


   margin: 0%;
}



.contact-button {
    margin-bottom: 20px;
    color: grey;
    line-height: 27px;
    padding:12px ;
    border-radius: 5%;
    font-size: large; 
  

    
}


#hero h2 {
    font-family:'Poppins', sans-serif ;
    font-weight: normal;
}


.hello {
    margin-top: 120px; 
}

.text-center {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.first-div,
.second-div {
    display: inline-block;
    width: 45%; /* Adjust the width as needed */
    vertical-align: top; /* Align the divs at the top */
    text-align: center; 

}; 


.mila-link {
    font-size: 50px;
}



.text-center-1 {
    font-family: 'Poppins', sans-serif;;
    font-size: 25px;


}

.text-center-2 {
    font-family: 'Poppins', sans-serif;;
    font-size: 25px;


}


